/* Header.css */

/* Navbar container */
.navbar {
  background-color: #343a40; /* Dark background color */
}

/* Navbar brand styling */
.navbar-brand {
  color: #fff !important; /* Navbar brand text color */
  font-weight: bold;
}

/* Navigation links styling */
.nav-link {
  color: #fff !important; /* Link text color */
  font-weight: normal;
  position: relative;
  transition: all 0.3s;
}

/* Box around the clicked link */
.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px; /* Adjust the height as needed */
  background-color: gold; /* Box color */
  transition: all 0.3s;
  transform: translateX(-50%); /* Center the box */
}

/* Extrude the box when the link is clicked or focused */
.nav-link:active::after,
.nav-link:focus::after {
  width: 100%;
}

/* Style for hovered and active links */
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  font-weight: bold; /* Increase font weight on hover/active/focus */
  color: gold !important;
}

/* User info styling */
div.me-2 {
  margin: 15px;
  color: #fff; /* Text color */
}

div.me-2 > span {
  margin-right: 15px;
}

/* Navbar toggle button styling */
#navbarScroll > button {
  border: 1.5px solid gold;
  color: gold;
  font-weight: bold;
}

#navbarScroll > button:hover {
  background-color: black;
  color: gold;
  border-color: black;
}

/* Navbar links styling */
#navbarScroll > a {
  background-color: transparent;
  border: 1.5px solid gold;
  color: gold;
  font-weight: bold;
}

#navbarScroll > a:hover {
  background-color: black;
  color: gold;
  border-color: black;
}
