/* SearchBar container */
#mainDivSearch {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    padding: 1px;
    max-width: 100%; /* Ensure it takes up the full width */
}

/* Search input */
#inputSearch {
    flex: 1;
    border: none;
    padding: 8px;
    margin: 10px;
    font-size: 16px;
    border-radius: 4px;
    outline: none;
    width: 2300px;
    background-color: #333333;
    color: #ffffff;
}

#inputSearch::placeholder {
    color: #999999;
}

#inputSearch:hover {
    background-color: #191919;
}

/* Make the button take up the remaining space */
#searchBtn {
    flex: 0 0 auto;
    white-space: nowrap;
}

/* Hover effect for the button */
#searchBtn:hover {
    background-color: #d4af37;
    color: #000000;
    font-weight: 500;
}
